Django>=6.1.1,<6.2
django-environ>=0.12
psycopg[binary]>=3.3.6
argon2-cffi>=25.1.0
duckdb>=1.5.5
shapely>=2.1
djangorestframework>=3.18.1
djangorestframework-simplejwt>=5.5.1
drf-spectacular[sidecar]>=0.30
django-cors-headers>=4.9
django-otp>=1.7.3
qrcode>=8.2
Pillow>=12.3.0
